.body {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  max-width: 1030px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 22px;
}
.logo {
  text-decoration: none;
  position: relative;
}
.logo:hover .hiden {
  display: block;
}
.logo:hover .logo-text {
  color: #f26522;
}
.logo-photo {
  position: absolute;
  left: 0;
  top: 0;
}
.hiden {
  display: none;
}

.logo-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  padding-left: 57px;
}

.connection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

.email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
.email:hover {
  color: #f26522;
}
.phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
.phone:hover {
  color: #f26522;
}

.main {
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.list-item {
}
.list-item:hover .list-text {
  color: #f26522;
}
.list-link {
  text-decoration: none;
}
.list-photo {
  width: 100%;
}

.list-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.footer {
}
.text-end {
  margin-top: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}

.wrapper-img {
  position: relative;
  margin-bottom: 20px;
}

.img-description {
  position: absolute;
  background-color: #f26522;
  padding: 10px 16px;
  left: 0;
  right: 0;
  color: #ffffff;
  bottom: 0;
  display: none;
}
.list-item:hover .img-description {
  display: block;
}

.from {
  font-size: 10px;
  line-height: 10px;
}

.wrapper-desc {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  align-items: flex-end;
}

.cost {
  font-size: 20px;
  line-height: 20px;
}

.details {
  font-size: 14px;
  line-height: 14px;
  padding-right: 20px;
  position: relative;
}
.details::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid #ffffff;
  border-bottom: none;
  border-left: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
