.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.header {
}

.logo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  text-align: center;
  color: #000000;
}

.blue {
  color: #4bcaff;
}

.nav {
  padding-top: 40px;
  padding-bottom: 49px;
}

.nav-list {
  display: flex;
  justify-content: center;
  background: #35444f;
}

.nav-item {
  display: block;

  border-right: 1px solid #ffffff;
}

.nav-item:first-child {
  border-left: 1px solid #ffffff;
}

.nav-item:hover {
  background-color: #222f3a;
}

.nav-link {
  display: block;
  font-family: "Roboto";
  padding: 20px 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
}

.main {
  display: flex;
  gap: 52px;
}

.menu {
}

.menu-list {
  width: 400px;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: block;
}

.menu-item:hover {
  background-color: #dbdbdb;
}

.menu-link {
  display: block;
  padding: 26px 44px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
  text-decoration: none;

  transition: padding 0.5s;
}

.menu-link:hover {
  color: #000000;
  padding-left: 54px;
}

.description {
}

.photo {
  height: 529px;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 37px;
}

.photo:hover .image {
  transform: scale(1.3);
}

.image {
  width: 320px;
  height: 381px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.footer {
  padding-top: 54px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background: rgba(99, 105, 110, 0.48);
  padding: 20px 40px;
}

.navigation-list {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.navigation-item {}

.navigation-item:not(:last-child) {
  margin-right: 40px;
}

.navigation-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
  text-decoration: none;
}

.navigation-link:hover {
  color: #3181a6;
  text-decoration: underline;
}

.copyright {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
