.container {
  max-width: 1461px;
  margin: 0 auto;

  background-color: black;
}
.header {
  margin-top: 50px;
  margin-bottom: 128px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 33px;
}
.link {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  text-decoration: none;
  display: block;
  padding: 10px 25px;
  border: 1px solid #e4b564;
}
.phone {
  padding-right: 10px;
}

.work {
  margin-bottom: 160px;
}

.title {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}
.subtitle {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 40px;
}
.work-list {
  display: grid;
  align-items: center;
  gap: 25px;
  grid-template-rows: 468px 468px;
  grid-template-areas:
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5";
}
.work-item {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  height: 468px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-item-1 {
  grid-area: item1;
  background: #634f2c;
}
.work-item-2 {
  grid-area: item2;
  background: #b4a385;
}
.work-item-3 {
  grid-area: item3;
  background: #e4b564;
}
.work-item-4 {
  grid-area: item4;
  background: #635a4a;
}
.work-item-5 {
  grid-area: item5;
  background: #b08c4d;
}

.tech {
}
.tech-list {
  margin-top: 94px;
  margin-bottom: 190px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 900px;
  gap: 25px;
}
.tech-item {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  width: 367px;
  padding: 45px 50px;
}

.tech-item span {
  font-size: 23px;
  font-weight: 600;
}

.tech-item-1 {
  background: #0e0e0e;
  height: 200px;
  font-weight: 400;
}
.tech-item-2 {
  background: #1f1f1f;
  height: 470px;
}
.tech-item-3 {
  background: #242424;
  height: 350px;
  font-weight: 400;
}
.tech-item-4 {
  background: #e4b564;
  height: 310px;
  color: #000000;
}
.tech-item-5 {
  background: #1f1f1f;
  height: 155px;
}
.tech-item-6 {
  background: #0e0e0e;
  height: 220px;
}
.tech-item-7 {
  background: #0a0909;
  height: 190px;
  font-weight: 700;
}

.projects {
}
.projects-list {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 782px;
}
.projects-item {
  width: 487px;
  height: 391px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projects-item-1 {
  background: #634f2c;
}
.projects-item-2 {
  background: rgba(232, 210, 171, 0.76);
}
.projects-item-3 {
  background: #e4b564;
}
.projects-item-4 {
  background: #635a4a;
}
.projects-item-5 {
  background: #b08c4d;
}
.projects-item-6 {
  background: #634f2c;
}
.projects-logo {
}
.projects-text {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  max-width: 326px;
}
.projects-text span {
  font-weight: 600;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}
