.body {
    background-image: url(/hw7/img/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.container {
    width: 100%;
    margin: 0 auto;
}
.header {
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    margin-bottom: 54px;
    align-items: center;
}
.logo { 
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
}
.logo:hover {
    color: #01813F;
}
.login {
    display: flex;
    gap: 25px;
}
.icon {
    height: 23px;
    width: 23px;
}
.icon:hover {
    stroke: #01813F;
    fill: #01813F;
}
.login-text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.login-text::before {
    content: "";
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    display: inline-block;
    width: 1px;
    height: 19px;
    margin-right: 25px;
}
.login-link {
    text-decoration: none;
    color: #FFFFFF;
}
.login-link:hover {
    color: #01813F;
}
.main {
    width: 444px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section {
    padding: 30px 60px;
    position: relative;
}
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343; 
}

.section::before {
    content: "";
    display: inline-block;
    background: #3CB878;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0px;

}
.subtitle {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    text-decoration: none;
    margin-bottom: 10px;
}
.subtitle:hover {
    color: #01813F;
    text-decoration: underline;
}
.section-networks {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 16px;
    margin-bottom: 32px;
}
.icons {
    height: 23px;
    width: 23px;
    padding-right: 10px;
}
.button {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border-radius: 5px;
    position: relative;
    padding: 17px 22px;
}
.button::before {
    content: "";
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    width: 1px;
    height: 28px;
    position: absolute;
    display: inline-block;
    top: 15px;
    left: 45px;   
}
.button-facebook {
    background: #305DB8;
    border-color: #305DB8;
}
.button-facebook:hover {
    background: #022263;
}
.button-google {
    background: #DF4A32;
    border-color: #DF4A32;
}
.button-google:hover {
    background: #AB1F09;
}
.form {}
.fieldset {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.legend {
    margin-bottom: 11px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    position: relative;
}
.legend::before, .legend::after {
    content: "";
    background: #F2F2F2;
    width: 154px;
    height: 1px;
    display: inline-block;
    position: absolute;
    top: 8px;
}
.legend::before {
    right: 13px;
}
.legend::after { 
    left: 13px;
}
.field {
    width: 324px;
    height: 45px;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;
}
.fieldset-check {}
.check {}
.checkbox {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    margin-right: 0px;
}
.checkbox-link {
    text-decoration: none;
}
.green {
    color: #3CB878;
}
.green:hover {
    text-decoration: underline;
}
.button-create {
    background: #3CB878;
    border-radius: 4px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 20px;
    padding: 16px 99px;
    border-color:#3CB878;
    border-radius: 5px;
}
.button-create:hover {
    background: #01813F;
    border-color: #01813F;
}